<%- include('../admin/partials/adminheader.ejs') %>
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-2"></div>
    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Add Coupon</h6>
        <form action="/admin/coupon" method="post">
          <% if(addCouponErr.length>0){ %>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label"
              ><h3 style="color: red"><%= addCouponErr %></h3></label
            >
          </div>
          <% } else if (couponExistErr.length>0) { %>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label"
              ><h3 style="color: red"><%= couponExistErr %></h3></label
            >
          </div>
          <% } %>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Coupon Code</label>
            <div class="col-sm-10">
              <input name="code" type="text" class="form-control w-75" />
            </div>
          </div>

          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Coupon Type</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input
                  onclick="changeType('Percentage')"
                  class="form-check-input"
                  id="type"
                  name="CouponType"
                  type="radio"
                  value="Percentage"
                  checked
                />
                <label class="form-check-label" for="gridRadios1">
                  Percentage
                </label>
              </div>
              <div class="form-check">
                <input
                  onclick="changeType('Amount')"
                  class="form-check-input"
                  id="type"
                  name="CouponType"
                  type="radio"
                  value="Amount"
                  checked
                />
                <label class="form-check-label" for="gridRadios2">
                  Amount
                </label>
              </div>
            </div>
          </fieldset>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">
              <span id="typePercentage"
                >CUT-OFF <br />
                Percentage</span
              >
              <span id="typeAmount" hidden
                >CUT-OFF <br />
                Amount</span
              >
            </label>
            <input class="form-control w-25 m-3" name="cutOff" type="number" />
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Min. Amount of Cart</label>
            <div class="col-sm-10">
              <input name="minAmount" type="number" class="form-control w-50" />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Max. Redeem Amount</label>
            <div class="col-sm-10">
              <input name="maxAmount" type="number" class="form-control w-50" />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label"
              >No. of coupons to Generate</label
            >
            <div class="col-sm-10">
              <input
                name="genetateCount"
                type="number"
                class="form-control w-50"
              />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">valid upto</label>
            <div class="col-sm-10">
              <input name="expireDate" type="date" class="form-control w-50" />
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Add Coupon</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  function changeType(type) {
    if (type == "Amount") {
      document.getElementById("typeAmount").hidden = false;
      document.getElementById("typePercentage").hidden = true;
    } else if (type == "Percentage") {
      document.getElementById("typeAmount").hidden = true;
      document.getElementById("typePercentage").hidden = false;
    }
  }
</script>
