<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
   
  <nav class="navbar bg-secondary navbar-dark">
    <a href="/admin/dashboard" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary">
        <i class="fa fa-user-edit me-2"></i>Galaxy Go
      </h3>
    </a>

    <div class="navbar-nav w-100">
      <a href="/admin/dashboard" class="nav-item nav-link"
        ><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a
      >

      <a href="/admin/banner" class="nav-item nav-link"
        ><i class="fa fa-laptop me-2"></i>Banner</a
      >
      <a href="/admin/viewcategory" class="nav-item nav-link"
        ><i class="fa fa-th me-2"></i>Category</a
      >
      <a href="/admin/viewProducts" class="nav-item nav-link"
        ><i class="fa fa-table me-2"></i>Products</a
      >
      <a href="/admin/users" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>Users</a
      >
      <a href="/admin/coupon" class="nav-item nav-link"
        ><i class="far fa-file-alt me-2"></i>Coupon</a
      >
      <a href="/admin/orders" class="nav-item nav-link"
        ><i class="fa fa-table me-2"></i>Orders</a
      >
      <a href="/admin/salesReport" class="nav-item nav-link"
        ><i class="fa fa-chart-bar me-2"></i>Sales Report</a
      >
      <a href="/admin/monthReport" class="nav-item nav-link"
        ><i class="fa fa-chart-bar me-2"></i>Sales Monthly</a
      >
      <a href="/admin/yearReport" class="nav-item nav-link"
        ><i class="fa fa-chart-bar me-2"></i>Sales Yearly</a
      >
    </div>
  </nav>
</div>
<!-- Sidebar End -->

<!-- Content Start -->
<div class="content" style="min-height: auto">
  <!-- Navbar Start -->
  <nav
    class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0"
  >
    <a href="/admin/dashboard" class="navbar-brand d-flex d-lg-none me-4">
      <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
      <i class="fa fa-bars"></i>
    </a>
    <form class="d-none d-md-flex ms-4">
      <input
        class="form-control bg-dark border-0"
        type="search"
        placeholder="Search"
      />
    </form>
    <div class="navbar-nav align-items-center ms-auto">
      
      
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <img
            class="rounded-circle me-lg-2"
            src="img/user.jpg"
            alt=""
            style="width: 40px; height: 40px"
          />
          <span class="d-none d-lg-inline-flex">Aagnai</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0"
        >
          <a href="/admin/logout" class="dropdown-item">Log Out</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->
</div>
